//  ============================================================================
//  /* @group Newsletter form */
//  ============================================================================

#newsletterForm2 {
    @extend .custom-form;
}