
//  ============================================================================
//  /* @group GENERAL */
//  ============================================================================

.img-left {
    margin: 0 0 10px 0;
    padding: 0;
    @extend .img-fluid;
}

.img-right {
    margin: 0 0 10px 0;
    padding: 0;
    @extend .img-fluid;
}

@include media-breakpoint-up(md) {
    .img-left {
        float: left;
        margin: 0 20px 10px 0;
        padding: 0;
        min-width: 100%;
    }
    .img-right {
        float: right;
        margin: 0 0 10px 20px;
        padding: 0;
        min-width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .img-left {
        min-width: auto !important;
    }
    .img-right {
        min-width: auto !important;
    }
}

.img-pan
{
    margin: 0 0 10px;
    padding: 0;
    width: 100% !important;
    height: auto;
}

.help-block.error {
    color: #fff;
    font-size: 11px;
    margin: 2px 0 5px;
    display: block;
    background: red;
    padding: 2px 8px;
    border-radius: 4px;
}

.form-group,
.porta-order,
.porta-num,
.relative {
    position: relative;
}

.dropdown-menu {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cms-table {
    width: 100%;
    table-layout: fixed;
    td {
        display: block;
        vertical-align: top;
        @include media-breakpoint-up(sm) {
            // 768
            & {
                display: table-cell;
                padding-right: 15px;
                + td {
                    padding-left: 15px;
                }
            }
        }
    }
}

.main-header-top .dropdown-toggle:focus,
.main-header .dropdown-toggle:focus,
#footer .dropdown-toggle:focus {
    outline: none !important;
}

.card-img-top {
    min-width: 100% !important;
    width: auto !important;
    height: auto !important;
}

a.fav-hide {
    display: none !important;
}

//  ============================================================================
//  /* @group LOADING */
//  ============================================================================

form
{
    .loading {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(255, 255, 255, 0.3) url(/media/images/website/large-loading.gif) no-repeat center center;
    }
}



#gdpr-cookie-message a
{
    display: block;
    padding-top: 4px;
}
#gdpr-cookie-accept,  button#gdpr-cookie-deny, button#gdpr-cookie-advanced
{
    width: 100%;
    display: block;
    padding: 8px 8px;
}
#gdpr-cookie-message h4, #gdpr-cookie-message .h4
{
    margin-bottom: 18px;
}

@include media-breakpoint-up(md)
{
    button#gdpr-cookie-deny, button#gdpr-cookie-advanced
    {
        background-color: transparent;
        border: 1px solid #a8a8a8;
        width: 100%;
        padding: 8px 8px;
        margin-left: 0;
        margin-right: 8px;
        white-space: nowrap;
        display: inline-block;
        margin-top: 6px;
    }
}


