<IfModule mod_rewrite.c>
    RewriteEngine on
    SetEnvIfNoCase User-Agent ^libwww-perl bad_bot
    Order Allow,Deny
    Allow from ALL
    Deny from env=bad_bot
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/intramedianet/$1 [R=301,L]
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
