//  ============================================================================
//  /* @group REPORTE */
//  ============================================================================

.datosprop {
    b {
        display: block;
    }
}

.report-content .views-rep {
    text-align: center;
    display: block;
    border: 1px solid #ddd;
    padding: 20px 0;
    border-radius: 4px;
    font-size: 30px;
    line-height: 1em;
    font-weight: 800;
    margin-bottom: 30px;
    span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 200;
    }
}