.bottom-bar-new 
{
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 10px;
    z-index: 9999;
    // height: 56px;
    // width: 100%;
    // background-color: rgba(255,255,255,0.8);
    transition: 0.5s;


    .btn {
        color: #fff !important;
        font-size: 14px !important;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        height: 40px;
        width: 49%;
        border-radius: 20px !important;
        padding-top: 11px;
        margin-top: 7.5px;
        &.btn-whatsapp {
            background-color: #00c600;
        }
        img {
            margin-top: -3px;
            margin-right: 3px;
        }
    }
    .btn-whatsapp {
        img {
            height: 80px;
        }
    }
}




.mobile-bottom-bar 
{
    background-color: var(--primary);
   
    li {
        width: 20%;
        a {
            display: block;
            padding: 15px 0;
            &.add-fav-r.fav-hide,
            &.rem-fav-r.fav-hide {
                color: #000;
                display: none !important;
            }
        }
    }
}
