//  ============================================================================
//  /* @group BUSCADOR */
//  ============================================================================

.buscador 
{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background: rgba(0,0,0,.7);

    .responsive-search-button 
    {
        color: #fff;
        font-size: 26px;
        padding: 20px 0 10px 20px;
        display: inline-block;
    }
    .result 
    {
        display: block;
        text-align: center;
        font-weight: 700;
        color: #fff;
        text-align: center;
        padding: 0 0 20px;
    }

    .btn 
    {
        line-height: $form_control_height;
        height: $form_control_height;
        padding: 0 15px;
    }


    .select2-search__field::placeholder, .select2-search__field:-ms-input-placeholder, .select2-search__field::-ms-input-placeholder  
    {
        color: $text-form !important;
        font-size: $form-text-size;
        font-weight: 400 !important;
    }
    
    .form-control, .hasCustomSelect, span.customSelect, .select2-container--default .select2-selection--multiple {
        border-radius: 0 !important;
        min-height: $form_control_height;
        padding-top: 10px;
        font-size: $form-text-size;
        color: $text-form !important;
        font-weight: 400 !important;
        border: 0;

        &::placeholder 
        {
            font-size: $form-text-size !important;
            color: $text-form !important;
            font-weight: 400 !important;
        }
    }

    
}

body.home 
{
    .buscador 
    {
        display: block;
        position: relative;
        width: auto !important;
        height: auto;
        overflow-y: none;
        z-index: 1;
        background: none;

        .container 
        {
            background: transparent;
            border-radius: 6px;
            padding-top: 15px;
        }

        .container-col-search {
            background-color: transparent;
            border-radius: 25px;
            width: 100%;
        }
        .form-group {
            display: flex;
            align-items: center;
            //background-color: red;
            height: 100%;
        }
    
        .btn-search-reset {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 20px;
            background-color: #fff;
            color: #000;
            font-family: Outfit;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            text-decoration: none;
            height: 100%;
            width: 100%;
        }

        .btn-advanced-search {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 20px;
            background-color: #fff;
            color: #000;
            font-family: Outfit;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            text-decoration: none;
            height: 100%;
            width: 100%;
        }

                .btn-search-map {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20px;
            background-color: #fff;
            color: #000;
            font-family: Outfit;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            text-decoration: none;
            height: 100%;
        }

        .btn-save-search {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20px;
            background-color: #fff;
            color: #000;
            font-family: Outfit;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            text-decoration: none;
            height: 100%;
        }

        .btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20px;
            background-color: #fff;
            color: #000;
            font-family: Outfit;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            text-decoration: none;
            height: 100%;
        }

    }
}

body:not(.home) 
{
    .buscador 
    {
        display: none;
    }
}

@include media-breakpoint-up(lg) 
{
    .buscador 
    {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        overflow-y: none;
        z-index: 1;
        background: none;

        &.b-home 
        {
            //caso particular del buscador en la home
        }

        &.b-properties 
        {
            //caso particular del buscador en listado de propiedades
            display: block !important;
            margin-bottom: 20px;
            overflow-x:hidden;
            margin-top: 20px;
        }
    }
}

.select2-container 
{
    z-index: 99999999;
}
