//  ============================================================================
//  /* @group CUSTOM SELECTS */
//  ============================================================================

span.customSelect 
{
    padding: 0 9px;
    width:100%;
    height: 35px;
    line-height: 35px;
    font-size: $form-text-size;
    border:1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    color: $text-form;
    text-align: left;
}

.customSelectInner 
{
    background: url(/media/images/website/chevron-down.svg) no-repeat center right;
    background-size: 12px;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% !important;
}

select.hasCustomSelect {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.select2-selection--multiple 
{
    max-height: 90px;
    overflow-y: none;

    &::after
    {
        content: "";
        background: url(/media/images/website/chevron-down.svg) no-repeat center right;
        background-size: 12px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: calc(50% + 2px);
        transform: translateY(-50%);
        height: 6px;
        width: 12px;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: red !important;
    color: $text-form;
}

.select2-container--open {
    position: relative;
    z-index: 999999999999999999 !important;
}


/*  Check en los select del buscador */
 
.select2-container--default .select2-results__option 
{
    position: relative;
    color: #3e3e3e;
    font-size: $form-text-size;

    &:after 
    {
        content: "\f0c8";
        font-family: "Font Awesome 5 Pro";
        color: $text-form;
        position: absolute;
        font-weight: 300;
        right: 15px;
    }
}

.select2-container--default .select2-results__option--highlighted 
{
    &:after 
    {
        color: #fff;
    }
}

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option--highlighted[aria-selected="true"] 
{
    background-color: #f3ebe3 !important;
    color: $primary !important;

    &:after {
        content: "\f14a";
        color: $primary !important;
    }
}

