#featured-properties,
#ofertas-properties,
#similares-properties,
#similares-properties-modal,
#similares-properties-bajada-modal {
    .slides-item {
        margin: 15px;
        position: relative;

        .add-fav,
        .rem-fav,
        .add-fav2,
        .rem-fav2 {
            @extend .fav-default; // CSS en _properties.scss
        }

        a.property-featured {
            overflow: hidden;
            border: 1px solid #ccc;
            text-decoration: none;
            display: block;
            @include transition();

            .porta-img {
                position: relative;
                overflow: hidden;
                z-index: 0;

                img {
                    @include transition();
                }

                .labels {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    z-index: 2;

                    .badge {
                        border-radius: 0;
                        padding: 3px 7px;
                        display: block;

                        font-size: 12px;
                        font-weight: 500;
                        line-height: inherit;
                        letter-spacing: 1.2px;
                        text-align: center;

                        margin-bottom: 4px;
                        text-transform: uppercase;

                        &:not(:last-child) {
                            margin-top: 5px;
                        }
                    }
                }
            }

            .property-detail {
                padding: 15px;
                @extend .item-list-property; //En _properties.scss
            }

            .view-more {
                position: absolute;
                bottom: 20px;
                right: 20px;
                opacity: 0;

                color: $primary;
                font-size: 12px;
                font-weight: 300;
                text-transform: uppercase;

                @include transition();
            }

            &:hover {
                .porta-img {
                    img.img-fluid {
                        transform: scale(1.05);
                    }
                }

                .view-more {
                    opacity: 1;
                }
            }
        }
    }
}
