#featured-properties,
#ofertas-properties,
#similares-properties,
#similares-properties-modal,
#similares-properties-bajada-modal {
    .slides-item {
        margin: 15px;
        position: relative;

        .add-fav,
        .rem-fav,
        .add-fav2,
        .rem-fav2 {
            @extend .fav-default; // CSS en _properties.scss
        }

        a.property-featured {
            overflow: hidden;
            border: 1px solid #ccc;
            text-decoration: none;
            display: block;
            @include transition();

            .porta-img {
                position: relative;
                overflow: hidden;
                z-index: 0;

                img {
                    @include transition();
                }

                .labels {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    z-index: 2;
                    display: flex;
                    gap: 6px;
                    flex-wrap: wrap;
                }

                .labels .badge {
                    border-radius: 12px;
                    padding: 4px 7px;
                    display: block;

                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px; 
                    letter-spacing: 1.2px;
                    text-align: center;

                    text-transform: uppercase;
                }
            }

            .label-1 {
                background-color: #29bdef;
            }

            .label-4 {
                background-color: #f20c30
            }

            .property-detail {
                padding: 15px;
                @extend .item-list-property; //En _properties.scss
            }

            .view-more {
                position: absolute;
                bottom: 20px;
                right: 20px;
                opacity: 0;

                color: $primary;
                font-size: 12px;
                font-weight: 300;
                text-transform: uppercase;

                @include transition();
            }

            &:hover {
                .porta-img {
                    img.img-fluid {
                        transform: scale(1.05);
                    }
                }

                .view-more {
                    opacity: 1;
                }
            }
        }
    }
}
