
//  ============================================================================
//  /* @group MAIN HEADER TOP */
//  ============================================================================


.main-header-top 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $main-header-height-top;
    line-height: $main-header-height-top;
    z-index: 3;
    background: transparent !important;
    font-size: 16px;
    color: $dark;
    letter-spacing: normal;
    //padding-top: 5px;


    a 
    {
        text-decoration: none;
        color: #141215;
    }

    .weather 
    {
        font-size: 14px !important;

        b 
        {
            color: $primary;
        }
        img {
            height: 30px;
        }
    }

    .top-contact-img 
    {
        height: 16px;
        margin-top: -3px;
        max-width: 16px;
        margin-right: 3px;
    }

    .top-social-link {
        margin-left: 12px;
        img {
            height: 16px;
            margin-top: -5px;
        }
    }
}

.idiomas-dropdown 
{
    img 
    {
        height: 24px;
    }
    .dropdown-item 
    {
        font-size: 12px;
    }

    .dropdown-menu 
    {
        @extend .custom-drop-down; //en _custom-mixins.scss
    }
}

//  ============================================================================
//  /* @group MAIN HEADER */
//  ============================================================================

.main-header 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $main-header-height;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    transition: background-color 0.3s ease;

    a {
        text-decoration: none;
        font-family: Outfit;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.2px;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
    }
    #main-nav 
    {
        position: relative;
        font-size: $nav-text-size;
        line-height: $main-header-height;
        margin: 0;

        li {
            margin-right: 0px; // Pone a 0 la propiedad .list-inline-item:not(:last-child) de website.css
            padding-left: 6px;
            padding-right: 6px;

            &.hidden-on-main-nav {
                display: none;
            }
            
            .dropdown-menu {
                line-height: 1.8;
                @extend .custom-drop-down; //en _custom-mixins.scss
            }
        }
    }
}

// Solo en la home
body.home .main-header {
    background-color: transparent; // transparente en home
    a {
        color: #fff; // enlaces blancos sobre la imagen
    }
}

// Cuando se hace scroll en la home
body.home .main-header.fix-header {
    background-color: #000; // se vuelve negro al hacer scroll
    a {
        color: #fff;
    }
}

@include media-breakpoint-up(xl) 
{
    .main-header 
    {
        //top: $main-header-height-top;
        //box-shadow: 0 0px 12px rgba(0,0,0,.2);

        &.fix-header 
        {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background-color: #000 !important; // fondo negro al scrollear
            transition: background-color 0.3s ease;
            color: #fff !important;

        }

            .pill-btn-login {
                padding: 14px 12px;
                border-radius: 25px;
                border: solid 1px #fff;
                letter-spacing: 2.8px;
                gap:7px;
            }

            .pill-btn-hamburguer {
                padding: 14px 10px;
                border-radius: 25px;
                border: solid 1px #fff;
                letter-spacing: 2.8px;
                gap:7px;
            }

            .menu-idiomas button:focus{
                box-shadow: none;
            }
    }


    #main-nav 
    {
        li 
        {
            &.hidden-on-main-nav-lg 
            {
                display: none;
            }

             &.active 
            {
                a 
                {
                    color: $primary;
                }
            }

        }
    }
}

// Fondo negro en main-header para móviles
@include media-breakpoint-down(lg) {
    .main-header {
        background-color: #000 !important;

        a {
            color: #fff !important; 
        }
    }

    body.home .buscador .container{
        padding-top: 0 !important;
    }

}


// Menú desplegable (vista escritorio y responsive) //

.mega-menu
{
    display: none;
    position:fixed;
    height: 100%;
    top:0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    bottom:0;
    z-index:$zindex-tooltip;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto;


    .bg-color-modal 
    {
        margin-left: auto;
        width: 70%;
        min-height: 100vh;
        min-width: 340px;
        max-width: 70vw;
        //padding: 16px 26px;

        background-color: $secondary;

        @include media-breakpoint-down(lg) 
        {
            width: 100%;
        }
    }

.logo-container img{
max-width: 235px;
}
.content-menu-burger-list {
    color: #fff !important;
    transition: all;
    font-weight: 100;
    letter-spacing: normal;
    text-transform: uppercase;
    font-size: 36px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    text-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: none;
}

.content-menu-burger {
    width: 100%;
    max-width: 850px;
    padding: 40px 80px;
}
.menu-burguer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.mega-menu .content-menu-burger-list .menu-burger li.list-inline-item {
        margin-right: 0px;
    width: calc(50% - 20px);
}
    .btn-menu-lateral{
        display: inline-flex !important;
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        height: 48px;
        padding: 14px 12px;
        border: 1px solid #fff;
        border-radius: 25px;
        transition: all;    
    }

    .btn-menu-lateral:hover {
        color: $primary;
        border-color: $primary;
    }
    .contat-menu .main-title {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 100;
        color: $primary;
        margin: 0;
        letter-spacing: normal;
    }

        .contat-menu p{
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            font-weight: normal;
        }

        .contat-menu p a{
            font-family: Outfit, sans-serif;
            text-decoration: underline;
            text-transform: none;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
        }

                .contat-menu p a:hover{
                color: $primary;
                }
    a 
    {
        text-decoration: none;
    }
    ul 
    {
        li {
                        :hover{
                color: $primary;
            }
        }
        a 
        {
            color: #fff;
            font-size: 36px;
            letter-spacing: normal;
            text-transform: uppercase;
            padding-top: 5px;
            padding-bottom: 5px;
            text-wrap: wrap;
            padding-left: 0px;
            padding-right: 0px;
            border-bottom: none;
            display: block;
            font-weight: 100;
            @include transition;

            &:after 
            {
                border: 0 !important;
            }
            @include media-breakpoint-up(lg) 
            {
            }

            .active{
                color: #fff;
            }
        }

        .dropup .dropdown-toggle
        {
            display: flex;
            align-items: center;

            &:after
            {
                background: url(/media/images/website/chevron-down.svg);
                background-size: 8px;
                background-repeat: no-repeat;
                height: 6px;
                width: 8px;
                margin-left: 15x;
                 @include transition(1s);
            }

        }

        li 
        {
            display: block;

            .dropdown-menu
            {
                position: static !important;
                transform: none !important;
                background-color: transparent !important;
                box-shadow: none;
                border: 0;
                padding: 0 30px;
                @include transition(1s);
                height: 0;
                opacity: 0;

                &.show 
                {
                    height: auto;
                    opacity: 1;     
                }

                li 
                {
                    @include transition;
                    background-color: transparent !important;
                }

                a 
                {
                    font-size: 23px;
                    font-weight: normal !important;
                    line-height: 1.32;
                    background-color: transparent !important;
                    margin: 0 !important;
                    padding: 4px 14px;
                    color: #fff !important;

                    @include media-breakpoint-up(xl) 
                    {
                        font-size: 25px;
                    }
                    span 
                    {
                        display: inline-block;
                    }
                    
                }
            }
        }
    }
    .social-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .social-icons a i{
        font-size: 45px;
        color: white;
        border: solid 1px white;
        border-radius: 25px;
    }

}


//  ============================================================================
//  /* @group MODAL SEARCH */
//  ============================================================================

#modal-search
{
    background-color: $light;
    position: fixed;
    padding: 40px !important;
    top: 0;
    right:-104%;
    bottom:0;
    width:60vw;
    min-width: 720px;
    z-index: 999999;
    box-shadow: -30px 0 30px 0 rgba(0, 0, 0, 0.16);
    overflow-y:auto;
    overflow-x:hidden; 
    @include transition;

    .w-modal-search
    {
        width: 100%;
    }

    &.open-modal-search
    {
        right:0;
    }

    .buscador
    {
        margin-top: 0;
        display: block;
        position: relative !important;
        bottom: auto;

    }

    @include media-breakpoint-down(lg)
    {
        display:none;
    }
}

/* CUSTOM HEADER BUSCADOR */
.custom-label-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 13px; 

    input[type="checkbox"] {
        display: none; // ocultamos el checkbox nativo
    }

    .checkmark {
        width: 40px; 
        height: 40px;
        background-color: transparent;
        border: 1.5px solid #fff;
        border-radius: 50%; 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        &::after {
            content: '';
            display: none;
            width: 10px;
            height: 16px;
            border: solid #000;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &:hover .checkmark {
        background-color: #e4f0f7;
    }

    /* Checkbox marcado */
    input:checked + .checkmark {
        background-color: #e4f0f7;
    }

    input:checked + .checkmark::after {
        display: block;
    }

    .checkbox-text {
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        transition: color 0.3s ease;
    }
}


/* Input Costa */
#search-container .inputCosta span.select2-selection.select2-selection--multiple {
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
}

/* Input de costa, población y tipo */
#search-container span.select2-selection.select2-selection--multiple {
    background-color: #fff !important;
    border: solid 1px white !important;
    height: 64px;
}

/* Placeholder Costa, población y Tipo */
#search-container span.select2-selection.select2-selection--multiple input::placeholder {
  font-family: Outfit;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #191919;
}

/* Input habitaciones y precio hasta */
#search-container span.customSelect.form-control {
    background-color: white;
    height: 64px;
    font-family: Outfit;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #191919;
}

/* Input Referencia */
input#rf {
    background-color: #e5e5e5;
    height: 64px;
    border-bottom-right-radius: 18px !important;
    border-top-right-radius: 18px !important;
} 

/* NO FUNCIONA */
input#rf:focus{
    outline: none !important;
}


/* Placeholder Input Referencia */
input#rf::placeholder {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #797979;
}

/* THIRD */

.search-actions .group-1 .col-4 {
    display: flex;
    gap: 10px;
}

.search-actions .btn-search-reset {
    width: 76px;
    height: 70px;
    padding: 24px 27px;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #e4f0f7;
}

.search-actions .btn-search-map {
    font-family: Outfit;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #e4f0f7;
}

.search-actions .group-3 .btn-save-search {
    font-family: Outfit;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff !important;
    border-radius: 20px;
    background-color: #29bdef !important;
}

.search-actions .group-3 .btn-search {
    font-family: Outfit;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff !important;
    border-radius: 20px;
    background-color: #000 !important;
}