//  ============================================================================
//  /* @group LISTADOS DE PROPIEDADES */
//  ============================================================================

.item-list-property {
    h3 {
        font-size: 24px;
        font-weight: 300;

        @include text-wrap;

        strong {
            font-weight: 600;
        }
    }
    
    h4 {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #a3a3a3;

        @include text-wrap;
    }

    .description {
        margin-bottom: 20px;
    }

    .prices {
        color: $primary;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;

        span,
        del {
            font-size: 16px;
            font-weight: 400;
        }
    }
    
    .icons {
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 15px;

        img {
            height: 16px;
            display: inline-block;
        }
        span {
            display: inline-block;
            padding-left: 8px;
        }

        ul {
            padding: 10px 0;
            margin: 0;
            list-style: none;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}

.fav-default {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    height: 36px;
    width: 36px;
    line-height: 1;

    img {
        height: 22px;
    }
}

//  ============================================================================
//  /* @group PROPIEDADES */
//  ============================================================================

.search-btn-props {
    position: fixed;
    top: 80px;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px 0 0 8px;
    @include transition;

    a {
        color: #fff;
        font-size: 18px;
        padding: 8px 16px 10px;
        display: inline-block;

        img {
            height: 26px;
        }
    }

    &:hover {
        opacity: 1;
    }
}

.form-group,
.porta-order,
.porta-num,
.relative {
    position: relative;
}

.porta-label {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    padding-top: 10px;
    text-align: left;
    color: #2f2f2f;
}

.porta-order,
.porta-num {
    text-align: center;

    span.customSelect {
        border: 0 !important;
        border-radius: 0;
        background-color: #fff;
        color: $text-form;
        font-weight: bold;
    }
    strong {
        color: #000;
    }
    .customSelectInner {
        color: $text-form;
        font-size: 15px;
        border: 0;
        background-color: #fff;
        font-weight: 500;
        text-align: left;
        padding-left: 8px;
        margin-top: 6px;
        &:after {
            font-weight: bold;
            color: $dark;
        }
    }
}

.views-properties {
    .btn {
        padding: 0 !important;
        line-height: 49px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50% !important;
        border: 0 !important;
        margin-right: 6px;

        &:hover {
            z-index: 0 !important;
            background-color: rgba(0, 0, 0, 0.1);
        }
        &:focus,
        &:active {
            box-shadow: none;
        }
        &.btn-active {
            background-color: rgba(0, 0, 0, 0.1);
        }
        img {
            height: 22px;
            position: relative;
            margin-top: -4px !important;
        }
    }
}

.porta-order,
.porta-num {
    .customSelectInner {
        &::after {
            top: 44%;
        }
    }

    span.customSelect,
    input[type="text"],
    .select2-container--default .select2-selection--multiple {
        border-radius: 0;
        min-height: 48px;
        border: 1px solid #000;
    }
}

.property-list-box {
    margin: 0 0 40px;
    position: relative;
    z-index: 0;

    .add-fav,
    .rem-fav,
    .add-fav2,
    .rem-fav2 {
        @extend .fav-default;
    }

    .property {
        overflow: hidden;
        border: 1px solid #ccc;
        text-decoration: none;
        display: block;
        @include transition(1s);

        .porta-img {
            position: relative;
            z-index: 0;

            .labels {
                position: absolute;
                left: 10px;
                top: 10px;
                z-index: 1;

                .badge {
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
        a.textos {
            text-decoration: none;

            .property-detail {
                padding: 15px;
                @extend .item-list-property;
            }
        }
        .view-more {
            position: absolute;
            text-transform: uppercase;
            bottom: 20px;
            right: 20px;
            opacity: 0;
            color: $primary;
            font-size: 12px;
            font-weight: 300;
            transition: 0.4s;
        }
        .ref {
            @extend .badge;
            @extend .bg-primary;
            margin-bottom: 20px;
        }

        .description {
            display: none;
        }

        &:hover {
            .view-more {
                opacity: 1;
            }
        }
    }

    @extend .slides-custom; //iconos izquierda-derecha para el slider. En _custom-mixins.sccs

    .loading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3) url(/media/images/website/large-loading.gif) no-repeat center center;
    }
}

.btn-props-list {
    display: none;
}

@include media-breakpoint-up(md) {
    .sidebar-content {
        .property-list-list {
            width: 100% !important;
            min-width: 100% !important;
        }
        .vistas-prop {
            min-width: 100% !important;
        }
    }
}

.sidebar-content-full {
    .property-list-list {
        width: 100% !important;
        min-width: 100% !important;

        .property-list-box {
            @extend .px-lg-3;

            .property {
                @extend .row;

                .description {
                    display: block;
                }
                .property-detail {
                    padding-top: 15px;
                }
            }
            .porta-img {
                @extend .col-lg-5;
                padding-left: 0;
            }
            .textos {
                @extend .col-lg-7;
                text-align: left;
            }
        }

        // Zig-zag de propiedades (comentar si no se quiere usar)
        //
        &:nth-child(even) {
            .add-fav,
            .rem-fav,
            .add-fav2,
            .rem-fav2 {
            }

            .property-list-box {
                .porta-img {
                    @extend .px-0;
                }
                .textos {
                    @extend .order-lg-first;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}

//  ============================================================================
//  /* @group SEARCH SIDEBAR */
//  ============================================================================

.sidebar-form {
    margin-bottom: -15px;

    .col-md-8,
    .col-md-4,
    .col-md-3 {
        @extend .col-12;
    }
}

//  ============================================================================
//  /* @group MAPA PROPIEDADES */
//  ============================================================================

#mapa_propiedades {
    height: 700px;
    margin-bottom: 40px;
    img {
        max-width: auto;
    }
}

#mapa img {
    max-width: none;
}

.cluster {
    color: #fff;
    text-align: center;
    font-size: 10px;
    text-align: center;
    font-weight: 300;
    text-shadow: 0 0 2px #fff;
    line-height: 58px;
}

.cluster-1,
.cluster-2,
.cluster-3 {
    background: url(/media/images/website/map-cluster.png) no-repeat;
    width: 55px;
    height: 55px;
}

//  ============================================================================
//  /* @group PROPIADEDES VISTAS*/
//  ============================================================================

.viewed-props-full {
    margin-bottom: 30px;

    a.wrapper {
        display: block;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;

        h3 {
            margin: 8px 0 10px;
            font-size: 18px;
            font-weight: 600;
            line-height: 2;
            color: #3e3e3e;

            @extend .text-nowrap;

            small {
                display: block;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                text-transform: uppercase;
                color: #7b7979;
            }
        }
        .prices {
            color: #303030;
            padding-top: 6px;
            font-size: 20px;
            font-weight: 600;

            @include media-breakpoint-up(lg) {
                font-size: 22px;
            }

            strong {
                font-size: 15px;
            }
        }
    }
}
.vistas-prop {
    .btn .badge {
        position: absolute;
        top: 5px;
        right: 15px;
    }
}


//  ============================================================================
//  /* @group PROPIEDADES DESTACADAS */
//  ============================================================================

#featured-properties .main-subtitle{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 3.2px;
  text-align: center;
  color: #29bdef;
  text-transform: uppercase;
}

#featured-properties .main-title{
    font-family: Outfit;
    font-size: 40px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #000;
    text-transform: none;
}

#featured-properties .arrows-slide-dots button{
    outline: none;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000000;
    height: auto;
    width: auto;
    transition: all ease-in-out 0.3s;
    width: 64px;
    height: 64px;
}

#featured-properties .arrows-slide-dots button:hover{
    transform: scale(0.95);
}

#featured-properties .btn-propiedades{
    padding: 24px 76px;
    border-radius: 20px;
    border: solid 1px #bfc2c3;
    text-decoration: none;
    font-family: Outfit;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    transition: all ease-in-out 0.3s;
}

#featured-properties .btn-propiedades:hover{
    background-color: #bfc2c3;
}

#featured-properties .property-featured{
    border-radius: 20px;
}

#featured-properties .property-detail {
    border: solid 1px #bfc2c3;
    border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

.slides-item .property-detail .icons ul {
    display: flex !important;         
    gap: 30px !important;             
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.slides-item .property-detail .icons ul li {
    display: flex !important;       
    flex-direction: column !important;  
    align-items: center !important;     
    justify-content: center !important;            
    text-align: center !important;
    float: none !important; 
    margin: 0 !important;            
}

.slides-item .property-detail .icons ul li span {
    margin: 0 !important;            
    padding: 0 !important;
}
.slides-item .property-detail .icons ul li img {
    height: 30px !important;
    width: auto;
}

.slides-item .property-detail h4{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slides-item .property-detail h3{
  font-family: Outfit;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.81;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}

.slides-item .property-detail svg{
    height: 27px;
    width: auto;
}

.slides-item .property-detail .area{
    font-family: Outfit;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #29bdef;
    text-transform: uppercase;
    margin-left: 5px;
}

.slides-item .property-detail .provincia{
font-size: 18px;
  color: #181a19;
    text-transform: uppercase;
}

.slides-item .property-detail .ref {
    display: flex;
    align-items: center;
  font-family: 'Albert Sans';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.36;
  letter-spacing: 0.28px;
  text-align: left;
  color: #29bdef;
  text-transform: uppercase;
}

.slides-item .property-detail .ref .ref-line {
    width: 100%;
    max-width: 45px;
    height: 1px;
    background-color: #000000;
    margin-right: 9.5px;
}

.slides-item .property-detail .prices{
  font-family: Outfit;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: left;
  color: #181a19 !important;
}

.slides-item .property-detail .prices span{
    font-size: 20px;
    letter-spacing: 0.4px;
    font-family: Outfit;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #181a19;
}

#featured-properties .slides-item span.view-more {
    width: 45px;       
    height: 45px;      
    display: inline-flex;
    justify-content: center !important;
    align-items: center;
    background-color: #ebebeb;
    color: #29bdef;
    font-family: Kalnia !important;
    font-size: 30px !important;
    border-radius: 50%;
    padding: 0 !important; 
    opacity: 1 !important;
    transition: all ease-in-out 0.3s;
}

#featured-properties .slides-item:hover span.view-more {
    background-color: #000000;
}